#stage {
	width: 1300px;
	height: 650px;
	margin: auto;
	position: relative;
	top:50px;
    background-size: cover;

    border: 20px solid white;
    border-radius: 5px;
    box-shadow: 5px 10px #888888;
    z-index: 989;
}
#FrontSchool{
    width: 1300px;
	height: 650px;
	margin: auto;
	position: relative;
	top:50px;
    background-size: cover;

    border: 20px solid white;
    border-radius: 5px;
    box-shadow: 5px 10px #888888;
    background-image: url("images/frontschool.png");
    background-size: cover;
    background-size:1300px 650px;    
}
#tolietRoom{
    width: 1300px;
	height: 650px;
	margin: auto;
	position: relative;
	top:50px;
    background-size: cover;

    border: 20px solid white;
    border-radius: 5px;
    box-shadow: 5px 10px #888888;
    background-image: url("images/tolietRoom.png");
    background-size: cover;
    background-size:1300px 750px;    
}
#ComputerRoom{
    width: 1300px;
	height: 650px;
	margin: auto;
	position: relative;
	top:50px;
    background-size: cover;

    border: 20px solid white;
    border-radius: 5px;
    box-shadow: 5px 10px #888888;
    background-image: url("images/computerRoomOn.png");
    background-size: cover;
    background-size:1300px 850px;    
}
#lockerRoom{
    width: 1300px;
	height: 650px;
	margin: auto;
	position: relative;
	top:50px;
    background-size: cover;

    border: 20px solid white;
    border-radius: 5px;
    box-shadow: 5px 10px #888888;
    background-image: url("images/locker1.png");
    background-size: cover;
    background-size:1300px 650px;    
}
#Hallway2{
    width: 1300px;
	height: 650px;
	margin: auto;
	position: relative;
	top:50px;
    background-size: cover;

    border: 20px solid white;
    border-radius: 5px;
    box-shadow: 5px 10px #888888;
    background-image: url("images/h2.png");
    background-size: cover;
    background-size:1300px 650px;    
}
#Artroom{
    width: 1300px;
	height: 650px;
	margin: auto;
	position: relative;
	top:50px;
    background-size: cover;

    border: 20px solid white;
    border-radius: 5px;
    box-shadow: 5px 10px #888888;
    background-image: url("images/artroom.png");
    background-size: cover;
    background-size:1300px 650px;    
}
#ScienceRoom{
    width: 1300px;
	height: 650px;
	margin: auto;
	position: relative;
	top:50px;
    background-size: cover;

    border: 20px solid white;
    border-radius: 5px;
    box-shadow: 5px 10px #888888;
    background-image: url("images/ScienceRoom.png");
    background-size: cover;
    background-size:1300px 650px;    
}
#StaffRoom{
    width: 1300px;
	height: 650px;
	margin: auto;
	position: relative;
	top:50px;
    background-size: cover;

    border: 20px solid white;
    border-radius: 5px;
    box-shadow: 5px 10px #888888;
    background-image: url("images/staffroom.jpeg.png");
    background-size: cover;
    background-size:1300px 850px;    
}
#JanitorRoom{
    width: 1300px;
	height: 650px;
	margin: auto;
	position: relative;
	top:50px;
    background-size: cover;

    border: 20px solid white;
    border-radius: 5px;
    box-shadow: 5px 10px #888888;
    background-image: url("images/janitor.png");
    background-size: cover;
    background-size:1300px 650px;    
}
#boy1{
    width: 1300px;
	height: 650px;
	margin: auto;
    position: absolute;

}
#Hallway{
    width: 1300px;
	height: 650px;
	margin: auto;
	position: relative;
	top:50px;
    background-size: cover;

    border: 20px solid white;
    border-radius: 5px;
    box-shadow: 5px 10px #888888;
    background-image: url("images/hallway.png");
    background-size: cover;
    background-size:1300px 650px;    
}
#bossDevil{
position: absolute;
width: 1300px;
	height: 650px;
}
#mazestage {
	width: 1300px;
	height: 650px;
	margin: auto;
	position: relative;
	top:50px;
    background-size: cover;
    background-color: white;
    border: 20px solid white;
    border-radius: 5px;
    box-shadow: 5px 10px #888888;
    
}
#start{
    width: 200px;
    height: 45px;
    padding-top: 30px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin: auto;
    background-color: #888888;
    border: 5px solid #888888;
    border-radius: 5px;
    border-style: outset;
    text-decoration: none;
    color: black;
}
#start:hover{
    background-color: whitesmoke;
  }
h1{ 
    user-select: none;
    font-family: "Lucida Console", "Courier New", monospace;
    margin-top: 150px;
    font-size: 200px;
    color: whitesmoke;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding-bottom: 30px;
    background-image: url("images/title.gif");
    background-size: 1300px 650px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
body{
	background-color: black;
}

#chatbox{
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    color: whitesmoke;
    background-color: black;
    border: 10px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px #888888;
    height: 200px;
    width: 1000px;
    padding: 15px;
    position: absolute;
    bottom: 20px;
    left: 150px;
    z-index: 999;
}
#rewardbox{
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    color: whitesmoke;
    background-color: black;
    border: 10px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px #888888;
    height: 200px;
    width: 1000px;
    padding: 15px;
    position: absolute;
    bottom: 20px;
    left: 150px;
    z-index: 9990;
}
#rewardtext{
    color: whitesmoke;
    position: absolute;
    top:50px;
    left:50px;
    font-size: 25px;
}
#chatname{
    padding-bottom: 25px;
    position: absolute;
    width: 250px;
    height: 30px;
    color: #242424;
    background-color: white;
    box-shadow: 2px 5px #888888;
    border-radius: 0px 0px 4px 0px;
    top:0;
    left:0;
    bottom: 140px;  
    font-family: 'Source Sans Pro';
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 6px 0 0 0;
    z-index: 10;
}
#chattext{
    color: whitesmoke;
    position: absolute;
    top:50px;
    left:50px;
    font-size: 25px;
}
#loadingStage{
    width: 1300px;
	height: 650px;
	margin: auto;
	position: relative;
	top:50px;
    background-size: cover;
    border: 20px solid white;
    border-radius: 5px;
    box-shadow: 5px 10px #888888;
    background-image: url("loadingScreen.gif");
}

.clickables{
    position: absolute;
    
    width: 25px;
	height: 25px;
    background-color: yellow;
    border-radius: 100px;
    cursor: pointer;
    z-index: 2;
}

#playerCam{
    top:30px;
    left: 30px;
    width:150px;
    height:150px;
    position: absolute;
    border: 5px solid white;
    border-radius: 5px;
    box-shadow: 5px 10px #888888;
}

#playerName{
    padding-bottom: 25px;
    position: absolute;
    width: 50px;
    height: 30px;
    color: #242424;
    background-color: white;
    border-radius: 4px 0px 0px 0px;
    bottom:0;
    right:0;  
    font-family: 'Source Sans Pro';
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 6px 0 0 0;
    z-index: 999;
}

#content{
    width: 1300px;
    height: 650px;
    position: absolute;
}
#blur{
    width: 1300px;
    height: 650px;
    position: absolute;
    background-color: black;
    opacity: 0;
    
}
#arrowUp{
    user-select: none;
    position: absolute;
    z-index: 1;
    width: 70px;
    height: 70px;
    left: 600px;
    cursor: pointer;
}
#arrowLeft{
    user-select: none;
    position: absolute;
    z-index: 1;
    width: 70px;
    height: 70px;
    left: 20px;
    top:250px;
    cursor: pointer;
}
#arrowRight{
    user-select: none;
    position: absolute;
    z-index: 1;
    width: 70px;
    height: 70px;
    right: 20px;
    top:250px;
    cursor: pointer;
}
#arrowRight1{
    user-select: none;
    position: absolute;
    z-index: 1;
    width: 70px;
    height: 70px;
    right: 20px;
    top:150px;
    cursor: pointer;
}
#arrowRight2{
    user-select: none;
    position: absolute;
    z-index: 1;
    width: 70px;
    height: 70px;
    right: 20px;
    top:450px;
    cursor: pointer;
}
#arrowDown{
    user-select: none;
    position: absolute;
    z-index: 1;
    width: 70px;
    height: 70px;
    left: 600px;
    bottom: 5px;
    cursor: pointer;
}
#drawing{
  left:670px;
  top:200px;
}
#window{    
    left:120px;
    top:240px;
}
#wallpic{
    position: absolute;
    width: 60px;
    left:655px;
    top:230px;
}
#test{
    position: absolute;
    top:200px;
    left:150px;
    width: 25px;
	height: 25px;
    background-color: black;
    border-radius: 100px;
    cursor: pointer;
}

#lockPick{
    z-index: 1;
    position:absolute;
    top:0;
}
#player{
    width: 20px;
    position:absolute;
    top:600px;
    z-index: 101;
}
#maze{
    position:absolute;
    top:0;
    width: 1300px;
	height: 650px;
    z-index: 100;
}
#goal{
    position:absolute;
    top:310px;
    right:230px;
    z-index: 101;
}
#firstDevil{
    user-select: none;
    height:650px;
    position:absolute;
    left:230px;
    z-index: 998;
}
#secondDevil{
    top:30px;
    height:550px;
    position:absolute;
    left:230px;
    z-index: 998;
}

#fightbox{
    box-sizing: border-box;
    user-select: none;
    color: whitesmoke;
    background-color: black;
    border: 10px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px #888888;
    height: 200px;
    width: 1000px;
    padding: 15px;
    position: absolute;
    bottom: 20px;
    left: 150px;
    z-index: 999;
}

#bar{
    z-index: 999;

    width: 500px;
    height: 40px;
    background-color: grey;

    border: 3px solid black;
    position: absolute;
    left: 370px;
    top:50px;
}
#enemyhealth{
    z-index: 999;

    position: absolute;
    top:0;
    left:0;
    height:40px;
    width: 500px;
    font-size: 30px;
    background-color: white;
}

#attack1{
    border: 2px solid yellow;
    padding-inline: 40px;
    position: absolute;
    font-size:20px;
    cursor: pointer;
    color: yellow;
    width: 98px;
}
#skill1{
    border: 2px solid yellow;
    padding-inline: 40px;
    position: absolute;
    font-size:20px;
    cursor: pointer;
    color: yellow;
}
#attack2{
    border: 2px solid yellow;
    padding-inline: 42px;
    position: absolute;
    top:60px;
    font-size:20px;
    cursor: pointer;
    color: yellow;

}
#attack3{
    border: 2px solid yellow;
    padding-inline: 47px;
    position: absolute;
    font-size:20px;
    top:100px;
    cursor: pointer;
    color: yellow;

}
#skill2{
    color: yellow;
    border: 2px solid yellow;
    padding-inline: 61px;
    position: absolute;
    top:60px;
    font-size:20px;
    width:65px;
    cursor: pointer;
}
#back{
    left:780px;
    position: absolute;
    padding: 60px;
    padding-inline: 70px;
    font-size:20px;
    border: 5px solid yellow;
    cursor: pointer;

}

#attack{
    border: 5px solid yellow;
    color: yellow;
    position: absolute;
    padding: 10px;
    font-size:40px;
    left:200px;
    top:40px;
    cursor: pointer;

}
#skill{
    border: 5px solid yellow;
    color: yellow;
    position: absolute;
    padding: 10px;
    padding-right: 40px;

    font-size:40px;
    left:500px;
    top:40px;
    cursor: pointer;

}
#item{
    left:600px;
    position: absolute;
    padding: 50px;
    font-size:20px;
}

#healthbar{
    
    width: 120px;
    height: 20px;
    border: 3px solid white;
    position: absolute;
    left:300px;
    bottom:40px;
    z-index: 1000;
}
#health{
    color:white;
    position: absolute;
    top:0;
    left:0;
    height:20px;
    width: 120px;
    background-color: red;
}
#manabar{
    width: 120px;
    height: 20px;
    border: 3px solid white;
    position: absolute;
    left:600px;
    bottom:40px;
    z-index: 1000;
}
#hp{
    position: absolute;
    color: yellow;
    top:570px;
    left:270px;
    z-index: 1000;

}
#ma{
    position: absolute;
    top:570px;
    left:540px;
    z-index: 1000;

    color: yellow;
}
#mana{
    color:white;

    position: absolute;
    top:0;
    left:0;
    height:20px;
    width: 120px;
    background-color: lightblue;
}

#countdownbar{
    top:100px;
    left:600px;
    width: 500px;
    height: 20px;
    border: 1px solid white;
    position: relative;
}
#time{
    position:absolute;
    width: 500px;
    height:20px;
    background-color: whitesmoke;
}
#goal{
    width: 50px;
    height:50px;
}

#picture{
    position: absolute;
    width: 450px;
    z-index: 98;
    left: 420px;
    top:20px;
    border: 10px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px #888888;
    user-select: none;

}
#fightInstructions{
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    color: whitesmoke;
    background-color: black;
    border: 10px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px #888888;
    height: 200px;
    width: 1000px;
    padding: 15px;
    position: absolute;
    bottom: 300px;
    left: 150px;
    z-index: 999;
}

#devilName{
    color:yellow;
    position: absolute;
    left:371px;
    top:18px;
    font-size: 30px;
    z-index: 999;

}
#fightInstructionstext{
    color: whitesmoke;
    position: absolute;
    top:50px;
    left:50px;
    font-size: 25px;
}

#info{
    position: absolute;
    left: 250px;
    top:50px;
    font-size: 25px;
    color: whitesmoke;
}
#infocost{
    position: absolute;
    left: 250px;
    top:80px;
    font-size: 25px;
    color: lightskyblue;
}

#Door{
    position: absolute;
    height: 650px;
    left:200px;
    user-select: none;

}

#Doorbar{
    z-index: 999;

    width: 500px;
    height: 40px;

    border: 3px solid black;
    position: absolute;
    left: 370px;
    top:50px;
}
#DoorTotal{
    z-index: 999;
    position: absolute;
    top:0;
    left:0;
    height:40px;
    width: 0px;
    font-size: 30px;
    background-color: yellow;
}

#article{
    left:250px;
    bottom:200px;
}

#bunsen{
    right:310px;
    top:180px;
}

#piece1,#piece2,#piece3,#piece4,#piece5{
    z-index: 999;
    position: absolute;
    width: 150px;
    user-select: none;

}
#piece2{
    top:450px;
}
#piece3{
    left:150px;
    top:225px;
}
#piece4{
    top:150px;
}
#piece5{
    top:300px;
    
}
#area1,#area2,#area3,#area4,#area5{

    border-style: solid;
    width: 100px;
    border-color: yellow;
}
#area1{
    top:200px;
    user-select: none;
    z-index: 998;
    position: absolute;
    left:400px;
}
#area2{
    top:200px;

    user-select: none;
    z-index: 998;
    position: absolute;
    left:620px;
}
#area3{
    top:200px;

    user-select: none;
    z-index: 998;
    position: absolute;
    left:820px;
}
#area4{
    user-select: none;
    z-index: 998;
    position: absolute;
    left:500px;
    top:400px;
}
#area5{
    user-select: none;
    z-index: 998;
    position: absolute;
    left:750px;
    top:400px;
}

#completeArticle{
    position: absolute;
        z-index: 998;
        width: 950px;
        left:190px;
        
}

#gameStage {
	width: 650px;
	height: 650px;
	margin: auto;
	position: relative;
	top:50px;
    background-size: cover;
    background-color: black;
    border: 20px solid white;
    border-radius: 5px;
    box-shadow: 5px 10px #888888;
    
}


#gamebox{
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    color: whitesmoke;
    background-color: black;
    border: 10px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px #888888;
    height: 200px;
    width: 400px;
    padding: 15px;
    position: absolute;
    bottom: 100px;
    left: 130px;
    z-index: 999;
}

#enemy{
    width: 20px;
    height: 20px;
}
#enemy2{
    width: 50px;
    height: 50px;
}
#enemy3{
    width: 90px;
    height: 90px;
}
#playergame{
    width: 20px;
    left:300px;
    top:300px;
    position:absolute;
    z-index: 101;
}

#boxpic{
    width:120px;
    position:absolute;
    left:470px;
    top:350px;
    user-select: none;

}
#box{
    left:520px;
    top:340px;
}
#pie{
    user-select: none;
    top:200px;
    left:350px;
    width:520px;
    position: absolute;
}
#phoneclick{
    left: 650px;
    top:80px;
}

#pc{
    left:630px;
    top:420px;
}
#bulletClick{
    left:350px;
    top:480px;
}
#drawer{
    left:910px;
    top:500px;
}

.choice{

    background-color: black;
    border: 5px solid yellow;
    color: yellow;
    position: absolute;
    padding: 10px;
    font-size:40px;
    left:200px;
    top:40px;
    cursor: pointer;
}
#mercy{
    top:450px;
    left:400px;
}
#kill{
    position: absolute;
    top:450px;
    left:680px;
    padding-left: 35px;
    padding-right: 35px;

}
#true{
    top:550px;
    left:480px;
}
#phone{
    user-select: none;

    position: absolute;
    width:200px;
    left:560px;
    top:130px;
}
#bullet{
    user-select: none;
    z-index: 50;
    position:absolute;
    width:300px;
    left:500px;
    top:80px;
}
#floorarticle{
    user-select: none;

    width:100px;
    position:absolute;
    left: 210px;
    top:450px;
}
#talisman{
    user-select: none;

    position:absolute;
    left:140px;
    bottom:140px;
}
#talismanPic{
    user-select: none;

    position:absolute;
    width:100px;
    left:100px;
    bottom:60px;
}
#talismanImage{
    user-select: none;
    left:390px;
    position:absolute;
    z-index: 100;
}